@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700&display=swap");
/* font-family: "Lato", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* font-family: "Bebas Neue", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");
/* font-family: "Oswald", sans-serif; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-white: #fefeff;
  --color-text-blue: #414f6b;
}

html {
  scroll-behavior: smooth;
}
